.game {
  display: flex;
  justify-content: center;
}

.board--column {
}

.board--column__header {
  display: flex;
  justify-content: center;
}

.board {
}

.row {
  display: flex;
}

.cell--can-kill {
  background-color: red;
}

.cell--can-move {
  background-color: blue;
}

.cell--dark {
  background-color: darkslategray;
}

.cell--bright {
  background-color: blanchedalmond;
}

.piece--selected {
  opacity: 0.6;
}

.cell {
}

.button__cell {
  border: none;
}

.piece {
  width: 100%;
  height: auto;
}
