.game {
  display: flex;
  justify-content: center;
}

.board--column {
}

.board--column__header {
  display: flex;
  justify-content: center;
}

.board {
  border: 1px rgb(8, 8, 8);
  border-style: solid;
}

.row {
  display: flex;
}

.cell--can-kill {
  background-color: rgb(214, 47, 47);
}

.cell--can-move {
  background-color: rgb(99, 196, 171);
}

.cell--dark {
  background-color: darkslategray;
}

.cell--bright {
  background-color: blanchedalmond;
}

.piece--selected {
  opacity: 0.6;
}

.cell {
  border: none;
  outline: none;
  border: 1px rgb(8, 8, 8);
  border-style: solid;
}

.piece {
  width: 100%;
  height: auto;
}

.button__row {
  display: flex;
  justify-content: center;
}

.button__box--left {
  width: 50%;
}
