html,
.button--text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
}

.game {
  display: flex;
  justify-content: center;
}

.board--column {
}

.board--column__header {
  display: flex;
  justify-content: center;
}

.board {
  border: 1px rgb(8, 8, 8);
  border-style: solid;
}

.row {
  display: flex;
}

.cell {
  border: none;
  outline: none;
  border: 1px rgb(8, 8, 8);
  border-style: solid;
}

.cell:hover {
  cursor: grab !important;
}

.cell:active {
  cursor: grabbing !important;
}

.cell--enemy-move {
  background-color: palegreen;
}

.cell--can-kill {
  background-color: rgb(214, 47, 47);
}

.cell--can-move {
  background-color: rgb(159, 230, 212);
}

.cell--dark {
  background-color: darkslategray;
}

.cell--bright {
  background-color: blanchedalmond;
}

.piece--selected {
  opacity: 0.6;
}

.piece {
  width: 100%;
  height: auto;
}

.button__row {
  display: flex;
  justify-content: center;
}

.button__modal {
  width: 40%;
  margin: 3%;
  padding: 3%;
}

.button__header {
  margin: auto 0 auto 5%;
  width: 20%;
  padding: 1.5% 0;
}

.button__header .button--text {
  font-size: 1.5rem;
}

.button__option {
  background-color: #3f2f4f;
  color: white;
}

.sweet--loading {
  margin: auto 2%;
  height: auto;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paper {
  background-color: white;
  border: 3px solid #4f372f;
  padding: 5%;
  margin: -30%;
  text-align: center;
}

button {
  -webkit-user-drag: element;
  user-select: none;
}
/*
html:hover {
  border: 15px solid black !important;
  outline-style: solid !important;
  outline-color: red !important;
}
*/
